header {
    text-align: center;
    background-image: linear-gradient(to top, #f8b460, #fa9d2c);
    height: 50%;
}

#cabecalho {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 100px;
    font-size: 40px;
}

h1 {
    margin-top: 0;
    height: 80px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid;
}

body {
    text-align: center;
    background-color: #f8b460;
    margin: 0;
    padding: 0;
}

.menu {
    text-align: center;
}

.menu li {
    background-color: #faa741;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #f09b09;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 3px 17px;
    text-decoration: none;
    text-shadow: 0px 3px 0px #cc9f52;
    margin: 5px;
}

#textoIntro{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.camposCadastro{
    display: table-caption;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkgreen;
}

.camposCadastro label {
    background-color: red;
}

.areaCadastro{
    background-color: darkred;
    display:inline-table;
}


.areaCadastro #btnadd {
    background-color: #faa741;
    border: 1px solid #f09b09;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 3px 0px #cc9f52;
}

.areaCadastro #btnadd:hover {
    background-color: #fa9519;
}

.areaCadastro #btnadd:active {
    position: relative;
    top: 1px;
}

.areaCadastro #btncadastrar {
    background-color: #faa741;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #f09b09;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 3px 0px #cc9f52;
    margin: 1.8%;
    margin-top: -8%;
    margin-right: 7%;
}

.areaCadastro #btncadastrar:hover {
    background-color: #fa9519;
}

.areaCadastro #btncadastrar:active {
    position: relative;
    top: 1px;
}

#new {
    margin-top: -3%;
}

#result {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}