.cabecalho {
    display: flex;
    justify-content: space-between;
}

.palavracabecalho {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-left: 35px;
    font-size: 25px;
    margin-top: 10px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid;
}

body {
    background-color: #f8b460;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centerCadastro {
    text-align: center;
}

#textoIntro {
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.areaCadastro {
    display: inline-grid;
    border: solid black 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 5px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 7px 5px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 7px 5px 7px 0px rgba(0, 0, 0, 0.1);
}

.camposCadastro {
    text-align: center;
    display: inline-block;
}

.camposCadastro li {
    border-radius: 10px;
    margin-top: 4px;
    display: flex;
    margin-right: 25px;

}

.camposCadastro input {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    padding: 3px;
}

.camposCadastro #camposIngredienteCadastro {
    display: contents;
}

.areaCadastro #btnaddcadastro {
    background-color: #f8b460;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #e47c05;
    font-family: Arial;
    text-decoration: none;
    height: 20px;
}

.areaCadastro #btnaddcadastro:hover {
    color: #fa9519;
}

.areaCadastro #btnaddcadastro:active {
    position: relative;
    top: 1px;
}

.areaCadastro #btncadastrar {
    background-color: #faa741;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #f09b09;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 3px 0px #cc9f52;
    margin-bottom: 3%;
    width: 37%;
    margin-left: 30%;
}

.areaCadastro #btncadastrar:hover {
    background-color: #fa9519;
}

.areaCadastro #btncadastrar:active {
    position: relative;
    top: 1px;
}

#new {
    margin-top: -3%;
}

#result {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}