body {
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
    text-align: center;
}

.bg {
    background: linear-gradient(to bottom,rgba(233, 7, 7, 0.568) 0,rgba(65, 13, 13, 0.637) 100%), url(../img/food-1932466_1920\ \(2\).jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.helloMsg {
    font-size: 50px;
    margin-top: 10%;
    color: white;
}

body,
html {
    height: 100%;
}