.sectionCadastro {
    display:none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.palavracabecalho {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-left: 35px;
    font-size: 25px;
    margin-top: 10px;
    color: white;
}

.palavracabecalho:hover {
    color: #f37a7a;
}

#menu li {
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 20px;
    padding: 3px 17px;
    text-decoration: none;
}

#menu li:hover {
    color: #f07878;
}

#menu li:active {
    position: relative;
    top: 1px;
}