.sectionCadastro {
    display:none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.palavracabecalho {
    font-family: 'Courgette', cursive;
    margin-top: 0;
    margin-left: 35px;
    font-size: 25px;
    margin-top: 10px;
    color: white;
}

.palavracabecalho:hover {
    color: #f37a7a;
}

ul li{
    font-family: 'Varela Round', sans-serif;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 3px 17px;
    margin-top: -7px;
}

#menu li:hover {
    border-bottom: 4px solid #910909;
}

#menu li:active {
    position: relative;
    top: 1px;
}

#menu li:focus {
    outline: 0;
}