.sectionPesquisa {
    font-family: 'Varela Round', sans-serif;
    display:none;
}
.menu {
    text-align: center;
}

.textoIntroPesquisa {
    margin-top: 6%;
    font-size: 20px;
    color: white;
}

.areaPesquisa{
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.151);
    padding: 3%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 5px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 7px 5px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 7px 5px 7px 0px rgba(0, 0, 0, 0.1);
}

.menu li {
    background-color: #faa741;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #f09b09;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 3px 17px;
    text-decoration: none;
    text-shadow: 0px 3px 0px #cc9f52;
    margin: 5px;
}

.menu li:hover {
    background-color: #fa9519;
}

.menu li:active {
    position: relative;
    top: 1px;
}

.textoIngredientes {
    font-size: 20px;
    color: #ffffff;
}

.camposIngredientePesquisa {
    padding-top: 4px;
}

.camposIngredientePesquisa input{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    padding: 3px;
}

.camposIngredientePesquisa button {
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
}

.camposIngredientePesquisa li {
    display: block;
}

.camposIngredientePesquisa button:active {
    position: relative;
    top: 1px;
}

.camposIngredientePesquisa button:focus {
    outline:0;
}


.camposIngredientePesquisa #btnaddpesquisa{
    background-color: transparent;
    border: none;
}

.camposIngredientePesquisa #btnaddpesquisa:hover {
    color: #b30606;
}

.camposIngredientePesquisa #btnok {
    border: none;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 18px;
    background: #910909;
    padding: 4px 13px 4px 13px;
    text-decoration: none;
  }
  
  .camposIngredientePesquisa #btnok:hover {
    background: #b30909;
    background-image: -webkit-linear-gradient(top, #b30909, #910909);
    background-image: -moz-linear-gradient(top, #b30909, #910909);
    background-image: -ms-linear-gradient(top, #b30909, #910909);
    background-image: -o-linear-gradient(top, #b30909, #910909);
    background-image: linear-gradient(to bottom, #b30909, #910909);
    text-decoration: none;
  }

#result {
    display: inline-block;
    font-size: 20px;
}