.sectionPesquisa {
    font-family: 'Varela Round', sans-serif;
    display: none;
}

.menu {
    text-align: center;
}

.textoIntroPesquisa {
    margin-top: 6%;
    font-size: 20px;
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
}

.areaPesquisa {
    display: inline-block;
    padding: 3%;
    background: linear-gradient(to right, rgb(247, 14, 14), rgb(173, 4, 4));
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
}

.camposIngredientePesquisa {
    padding-top: 4px;
}

.camposIngredientePesquisa input {
    background-color: transparent;
    background-size: 100% 0px;
    border: 0;
    border-bottom: 3px solid rgba(247, 212, 212, 0.952);
    outline:0;
    color: white;
}

.camposIngredientePesquisa ::placeholder{
    color: white;
}

.buttonsPesquisa {
    display: flex;
    justify-content: space-between;
}

.camposIngredientePesquisa button {
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
}

.camposIngredientePesquisa li {
    display: block;
}

.camposIngredientePesquisa button:active {
    position: relative;
    top: 1px;
}

.camposIngredientePesquisa button:focus {
    outline: 0;
}


.camposIngredientePesquisa #btnaddpesquisa {
    background-color: transparent;
    border: none;
}

.camposIngredientePesquisa #btnaddpesquisa:hover {
    color: #b30606;
}

.camposIngredientePesquisa #btnok {
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    background: #910909;
    padding: 2px 11px 3px 10px;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.camposIngredientePesquisa #btnok:hover {
    background: #b30909;
    background-image: -webkit-linear-gradient(top, #b30909, #910909);
    background-image: -moz-linear-gradient(top, #b30909, #910909);
    background-image: -ms-linear-gradient(top, #b30909, #910909);
    background-image: -o-linear-gradient(top, #b30909, #910909);
    background-image: linear-gradient(to bottom, #b30909, #910909);
    text-decoration: none;
}

#resultPesquisa {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
    font-family: 'Courgette', cursive;
}

#resultPesquisa ul {
    color: rgb(211, 9, 9);
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    margin-right: 20px;
}

.ulreceita {
    border-bottom: solid 8px #b30606;
    background-color: white;
    padding: 2%;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
}