.sectionPesquisa {
    font-family: 'Varela Round', sans-serif;
    display: none;
}

.menu {
    text-align: center;
}

.textoIntroPesquisa {
    margin-top: 6%;
    font-size: 20px;
    color: white;
}

.areaPesquisa {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.151);
    padding: 3%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 5px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 7px 5px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 7px 5px 7px 0px rgba(0, 0, 0, 0.1);
}

.textoIngredientes {
    font-size: 20px;
    color: #ffffff;
}

.camposIngredientePesquisa {
    padding-top: 4px;
}

.camposIngredientePesquisa input {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
    padding: 3px;
}

.camposIngredientePesquisa button {
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
}

.camposIngredientePesquisa li {
    display: block;
}

.camposIngredientePesquisa button:active {
    position: relative;
    top: 1px;
}

.camposIngredientePesquisa button:focus {
    outline: 0;
}


.camposIngredientePesquisa #btnaddpesquisa {
    background-color: transparent;
    border: none;
}

.camposIngredientePesquisa #btnaddpesquisa:hover {
    color: #b30606;
}

.camposIngredientePesquisa #btnok {
    border: none;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 18px;
    background: #910909;
    padding: 4px 13px 4px 13px;
    text-decoration: none;
}

.camposIngredientePesquisa #btnok:hover {
    background: #b30909;
    background-image: -webkit-linear-gradient(top, #b30909, #910909);
    background-image: -moz-linear-gradient(top, #b30909, #910909);
    background-image: -ms-linear-gradient(top, #b30909, #910909);
    background-image: -o-linear-gradient(top, #b30909, #910909);
    background-image: linear-gradient(to bottom, #b30909, #910909);
    text-decoration: none;
}

#resultPesquisa {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
    font-family: 'Courgette', cursive;
}

#resultPesquisa ul {
    color: rgb(211, 9, 9);
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    /* border: solid black 3px; */
    margin-right: 20px;
}

.ulreceita {
    border-bottom: solid 8px #b30606;
    background-color: white;
    padding: 2%;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
}